@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #a8741f;
  --second: #a8741a;
  --star: #e3bb1d;
  --background: #242424;
  --text-color: #505a4e;
  --white: #fff;
  --black: #000;
}

tml,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
