.header {
  .communicationImage {
    margin-left: 0.4rem;

    &:first-child {
      margin-left: 0;
    }
    span {
      background-color: #2f2f2f !important;
      border-radius: 50%;

      img {
        padding: 6px !important;
        &:hover {
          opacity: 50%;
        }
      }
    }
  }
}
